
{% extends 'layout/gestion_header.html.twig' %}
{% block body %}
    {% block content %}
            {{ encore_entry_link_tags('accueil') }}
<div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    
                  
                    
                </aside>
            </div>
            <div class="column is-9">
                
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Bienvenue dans Aéroclub
                            </h1>
                            <h2 class="subtitle">
                                Passez une bonne journée !!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                    </div>
                </section>
                
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    <body background="../images/accueilaero.jpg">
</body>
    {% endblock %}
{% endblock %}

    

