
{% extends 'layout/gestion_header.html.twig' %}
{% block body %}
    {% block content %}
            {{ encore_entry_link_tags('accueil') }}
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a href="/gestion/avions">Gestion des avions</a></li>
                        <li><a href="/gestion/membres">Gestion des membres</a></li>
                        <li><a href="/gestion/instructeurs">Gestion des instructeurs</a></li>
                        <li><a href="/gestion/motif">Gestion des motifs</a></li>
                        <li><a href="/gestion/badge">Gestion des badges</a></li>
                        <li><a href="/gestion/qualif">Gestion des qualifications</a></li>
                        <li><a href="/gestion">Gestion des forfaits</a></li>
                        <li><a href="/gestion">Gestion des heures de vols</a></li>
                        <li><a href="/gestion">Gestion des comptes des membres</a></li>
                        <li><a href="/gestion">Edition des relevés de fin de mois</a></li>
                        <li><a href="/gestion">Gestion du bilan de fin de mois</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Bienvenue dans Aéroclub
                            </h1>
                            <h2 class="subtitle">
                                Passez une bonne journée !!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                    </div>
                </section>
                
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    {% endblock %}
{% endblock %}
